/* farding and shidding into the chasm of the void */

#wormhole {
	position: static;
	
}

.scroller {
	background-color: #ffcccc;
	
}

/* ff */
  * {
    scrollbar-width: auto;
    scrollbar-color: #222034 #110F1A;
  }

/* chro, ow the edge, saf */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #110F1A;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #222034;
    border-radius: 10px;
    border: 3px solid #110F1A;
  }


/* text select */
::-moz-selection {
  background: #FFFFFF;
}

::selection {
  background: #FFFFFF;
}

a:focus-visible,button:focus-visible{outline: none;  box-shadow: 0 0 0 2px #e9a983;}

/* accessibility stuff */
.prefers-reduced-motion{display:none;}
@media screen and (prefers-reduced-motion: reduce) {
.prefers-reduced-motion{display:block;}
}

/* let's see what's on the menu */
#hamitems h3{margin:20px 0 0 0;}#hamnav {width: 100%;top: 0;}#hamnav label, #hamburger { display: none; }#hamitems a:focus, #hamitems a:active{outline: 0;}.navUno{margin-top:0 !important;}

.naviBG {background:#1c1617;padding:0;}

.navi {display:block; margin-bottom:10px;padding-bottom: 10px;
background-repeat: repeat-x;
background-position: bottom;
image-rendering: pixelated;
image-rendering: -moz-crisp-edges;
image-rendering: crisp-edges;
overflow: auto;
white-space: nowrap;
}

.navi img {image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;margin-left: auto;margin-right: auto;display: block;}

@media (min-width: 1100px){
    .naviFirst{margin-top: 29px !important;}
    
    #hamnav{margin-top:60px;position: absolute;width: 150px;height: 477px;background-image: url('none');}
    
    .naviFirst{margin-top: 37px !important;}
    
    .hamP{width: 134px;height: 33px;background-position: center;margin-left: auto;margin-right: auto;}
    
    .navi img {padding-top: 12px;}
    
    .btn2{padding-top: 17px !important;}
    
    .socmed img{margin-top: 19px;}
}

@media (max-width: 1099px){
	.novaPaddi{padding:0 !important;}
	
	.contentBG{padding:15px !important;}
	
	#hamitems{padding-left: 15px;padding-right: 15px;}
	
	.itsSticky{z-index: 1000;position: relative;display: block;width: 100%;background: #09080e;}
	
    .banner-and-content, .itsSticky{max-width: 100% !important;flex-basis: 100% !important;}
    
    #hamnav label {cursor:pointer;background: linear-gradient(180deg,#1F1D2F,#1F1D2F);display: inline-block;width:100%;}
    
    #hamitems a {box-sizing: border-box;display: block;width: 100%;}
    
    #hamitems {display: none;}
    
    #hamnav input:checked ~ #hamitems {display: block;}
    
    #hamnav h2{margin:5px 0;}
    
    .navUno{margin-top:25px !important;}
    
    .burgBorder{border-radius:3px;background: linear-gradient(90deg,#e9a983,#c3613b);padding:2px;}
    
    .burgBorder h2{background-image: none;height: auto;}
    
    .hamP{width: 134px;height: 33px;background-position: center;margin-left: auto;margin-right: auto;}
    
    .naviFirst{margin-top: 12px !important;}
    
.socmed, .socmed img{display:inline !important;margin-right: auto !important;margin-left: auto !important;}

	.socmed a {margin-right: auto !important;margin-left: auto !important;}
	
	.slurp{display: block !important;margin-right: auto !important;margin-left: auto !important;width: 54px;}
	
	.bannerass{margin-top:70px !important;}
}

#hamnav{image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;}

.hamP{background-image: url('none');background-color: #ffff99;background-repeat: no-repeat;margin-bottom: 14px;border-style: dotted;}

.hamP a {padding-left: 15px;padding-top: 6px;}

/* (sa2 tails voice) customize your settings here! */
@font-face{font-family: "nft";src: url("../fonts/nft.ttf");}
@font-face{font-family: "nftbold";src: url("../fonts/sometype-mono-bold.ttf");}

.row{max-width:1100px;margin-left:auto;margin-right:auto;padding:20px;}

/* optional background image
body{background-image: url('../img/gifs/zero-two.gif');}
*/
body{background: #09080e; /* Old browsers */
background: -moz-linear-gradient(45deg, #ffcccc 0%, #ccffff 20%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #ffcccc 0%,#ccffff 20%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #ffcccc 0%,#ccffff 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcccc', endColorstr='#ccffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ background-attachment: fixed;color:#000000;margin:0;line-height:1.6;}

.contentBG{background:#ffcccc;padding:30px !important;text-shadow: 1px 1px #FFFFFF;} /* pink content background */

.yummyfeet p{
max-width: 300px;
margin-left: auto !important;
margin-right: auto !important;
background-color: #ccffff;
border: 1px solid #000000;
padding: 15px;
background-color: #ffcccc;image-rendering: pixelated;image-rendering: /* footer color */ -moz-crisp-edges;image-rendering: crisp-edges;background-position: center;background-repeat: no-repeat;
}

.hotfeet{height: 10px;padding: 0;background-position: center;image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;}

@media screen and (max-width: 767px){.yummyfeet{padding:30px;}}

body,h1,h2,h3,p{margin-top:0;}

body,p{font-family:'nft',courier,monospace;font-weight:normal;font-size:12.5px;letter-spacing:.03em;}

h1{margin-bottom:7px;font-size:28px;}

h2{font-size:22px;background-repeat: no-repeat;}

@media (min-width: 866px){h2{background-image: url('none');background-position: left;image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;height:65px;padding-left:30px;line-height: 41px;}}

h3{font-size:20px;background-repeat: no-repeat;background-image: url('../../img/banner-h3.gif');background-position: left;image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;height:33px;padding-left:10px;}

h2,h3,p{margin-bottom:15px;}

h1,h2,h3{font-family:'nft',courier,monospace;font-weight:normal;letter-spacing:.02em;}

h3{margin-top:30px;}

h1,h2{color:#000000;}

h3,b,strong,i,em{color:#000000;}

a,b,strong{font-family:'nftbold',courier,monospace;font-weight:normal;}

a, a:active{color:#339966;text-decoration:none;} /* puke green */

a:hover,a:focus{color:#99ff99;} /* darker green */

a{transition: all 0.4s ease;}

ul,ol{list-style:none;margin-left:0;padding-left:0;line-height:1.6!important;}

li{padding-left:40px;text-indent:-23px;}

li:before{content:"â€»";color:#c3613b;font-size:12.5px;padding-right:15px;}

.text-center{text-align:center;}

.img-center{display:block;margin-left:auto;margin-right:auto;}

.img-responsive{max-width:100%;height:auto;}

@media screen and (min-width: 768px){.theWorstTagline{margin-top:7px;text-align:right;}}
/* md lg */ @media (min-width: 768px){.visible-sm{display:none;}}
/* md lg */ @media (max-width: 767px){.visible-md-lg{display:none;}}

.bannerass{margin-bottom:0;line-height:0;}
/* sm */ @media (max-width: 767px){
	table,thead,tr{display:block;}
	th{display:inline-block;}
	td{padding-right:5px;}
}
/* md lg */ @media (min-width: 768px){.bannerass{margin-top:30px;}}

/* frames */

.waifu{color:#000000;background:#ccffff;display:inline-block;padding:2px 7px;margin-bottom:10px;font-weight: normal;background-image: url('./img/bg-tile.gif');background-position: center center;image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;}
.bobs{text-align:center;width:100%;}
.feet{width:100%;overflow-y: hidden;overflow-x: hidden;}
.cheese{width:100%;}

.answer{padding-left:4px;vertical-align: -2%;}
/* md lg */ @media (min-width: 768px){.answer{display:inline;}}
/* sm */ @media (max-width: 767px){.answer{display:block;}}

.colon{vertical-align: 1px;image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;}

.commentBG{background-image: none);image-rendering: pixelated;    image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;margin-bottom:5px;}

.paddingNone{padding:0 !important;}

.marginNone{margin:0 !important;}

.textCenVert{align-items: center;display: flex;}

.ico100{background-size: contain;background-repeat: no-repeat;width:100px;height:100px;}

.imgPixel{image-rendering: pixelated;image-rendering: -moz-crisp-edges;image-rendering: crisp-edges;}

.commentRight{padding-right: 30px !important;}

.browserFrame{display:block;}

/* browse */
.browsing {box-shadow: 0 0 0 1px #29263f,0 0 0 2px #070614;padding:0 !important;} 
/* md */ @media (max-width: 1099px){.browsing {max-width: 795px !important;}}

/* lg */ @media (min-width: 1100px){.lore{padding-left:30px !important;}}

/* mobile message */
@media (min-width: 860px){.mobile-message{display:none;}}

/* lg */ @media (min-width: 860px){
    .site-audio{left: 200px; top: -98px;}
}
/* md sm */ @media (min-width: 810px) and (max-width: 859px){
    .site-audio{left: 188px; top: -50px;}
}

/* column sizing barf*/

.container{margin:0 auto;padding:2px;}

.row{box-sizing:border-box;display:flex;flex:0 1 auto;flex-flow:row wrap}

.col-sm,[class^='col-sm-'],[class^='col-sm-offset-'],.row[class*='cols-sm-']>*{box-sizing:border-box;flex:0 0 auto;padding:2px;}

.col-sm,.row.cols-sm>*{max-width:100%;flex-grow:1;flex-basis:0}

.col-sm-1,.row.cols-sm-1>*{max-width:8.33333%;flex-basis:8.33333%}

.col-sm-offset-0{margin-left:0}

.col-sm-2,.row.cols-sm-2>*{max-width:16.66667%;flex-basis:16.66667%}

.col-sm-offset-1{margin-left:8.33333%}

.col-sm-3,.row.cols-sm-3>*{max-width:25%;flex-basis:25%}

.col-sm-offset-2{margin-left:16.66667%}

.col-sm-4,.row.cols-sm-4>*{max-width:33.33333%;flex-basis:33.33333%}

.col-sm-offset-3{margin-left:25%}

.col-sm-5,.row.cols-sm-5>*{max-width:41.66667%;flex-basis:41.66667%}

.col-sm-offset-4{margin-left:33.33333%}

.col-sm-6,.row.cols-sm-6>*{max-width:50%;flex-basis:50%}

.col-sm-offset-5{margin-left:41.66667%}

.col-sm-7,.row.cols-sm-7>*{max-width:58.33333%;flex-basis:58.33333%}

.col-sm-offset-6{margin-left:50%}

.col-sm-8,.row.cols-sm-8>*{max-width:66.66667%;flex-basis:66.66667%}

.col-sm-offset-7{margin-left:58.33333%}

.col-sm-9,.row.cols-sm-9>*{max-width:75%;flex-basis:75%}

.col-sm-offset-8{margin-left:66.66667%}

.col-sm-10,.row.cols-sm-10>*{max-width:83.33333%;flex-basis:83.33333%}

.col-sm-offset-9{margin-left:75%}

.col-sm-11,.row.cols-sm-11>*{max-width:91.66667%;flex-basis:91.66667%}

.col-sm-offset-10{margin-left:83.33333%}

.col-sm-12,.row.cols-sm-12>*{max-width:100%;flex-basis:100%}

.col-sm-offset-11{margin-left:91.66667%}

.col-sm-normal{order:initial}.col-sm-first{order:-999}

.col-sm-last{order:999}@media screen and (min-width: 768px){.col-md,[class^='col-md-'],[class^='col-md-offset-'],.row[class*='cols-md-']>*{box-sizing:border-box;flex:0 0 auto;padding:2px;}

.col-md,.row.cols-md>*{max-width:100%;flex-grow:1;flex-basis:0}

.col-md-1,.row.cols-md-1>*{max-width:8.33333%;flex-basis:8.33333%}

.col-md-offset-0{margin-left:0}

.col-md-2,.row.cols-md-2>*{max-width:16.66667%;flex-basis:16.66667%}

.col-md-offset-1{margin-left:8.33333%}

.col-md-3,.row.cols-md-3>*{max-width:25%;flex-basis:25%}

.col-md-offset-2{margin-left:16.66667%}

.col-md-4,.row.cols-md-4>*{max-width:33.33333%;flex-basis:33.33333%}

.col-md-offset-3{margin-left:25%}

.col-md-5,.row.cols-md-5>*{max-width:41.66667%;flex-basis:41.66667%}

.col-md-offset-4{margin-left:33.33333%}

.col-md-6,.row.cols-md-6>*{max-width:50%;flex-basis:50%}

.col-md-offset-5{margin-left:41.66667%}

.col-md-7,.row.cols-md-7>*{max-width:58.33333%;flex-basis:58.33333%}

.col-md-offset-6{margin-left:50%}

.col-md-8,.row.cols-md-8>*{max-width:66.66667%;flex-basis:66.66667%}

.col-md-offset-7{margin-left:58.33333%}

.col-md-9,.row.cols-md-9>*{max-width:75%;flex-basis:75%}

.col-md-offset-8{margin-left:66.66667%}

.col-md-10,.row.cols-md-10>*{max-width:83.33333%;flex-basis:83.33333%}

.col-md-offset-9{margin-left:75%}

.col-md-11,.row.cols-md-11>*{max-width:91.66667%;flex-basis:91.66667%}

.col-md-offset-10{margin-left:83.33333%}

.col-md-12,.row.cols-md-12>*{max-width:100%;flex-basis:100%}

.col-md-offset-11{margin-left:91.66667%}

.col-md-normal{order:initial}.col-md-first{order:-999}

.col-md-last{order:999}}@media screen and (min-width: 1280px){.col-lg,[class^='col-lg-'],[class^='col-lg-offset-'],.row[class*='cols-lg-']>*{box-sizing:border-box;flex:0 0 auto;padding:2px;}

.col-lg,.row.cols-lg>*{max-width:100%;flex-grow:1;flex-basis:0}

.col-lg-1,.row.cols-lg-1>*{max-width:8.33333%;flex-basis:8.33333%}

.col-lg-offset-0{margin-left:0}

.col-lg-2,.row.cols-lg-2>*{max-width:16.66667%;flex-basis:16.66667%}

.col-lg-offset-1{margin-left:8.33333%}

.col-lg-3,.row.cols-lg-3>*{max-width:25%;flex-basis:25%}

.col-lg-offset-2{margin-left:16.66667%}

.col-lg-4,.row.cols-lg-4>*{max-width:33.33333%;flex-basis:33.33333%}

.col-lg-offset-3{margin-left:25%}

.col-lg-5,.row.cols-lg-5>*{max-width:41.66667%;flex-basis:41.66667%}

.col-lg-offset-4{margin-left:33.33333%}

.col-lg-6,.row.cols-lg-6>*{max-width:50%;flex-basis:50%}

.col-lg-offset-5{margin-left:41.66667%}

.col-lg-7,.row.cols-lg-7>*{max-width:58.33333%;flex-basis:58.33333%}

.col-lg-offset-6{margin-left:50%}

.col-lg-8,.row.cols-lg-8>*{max-width:66.66667%;flex-basis:66.66667%}

.col-lg-offset-7{margin-left:58.33333%}

.col-lg-9,.row.cols-lg-9>*{max-width:75%;flex-basis:75%}

.col-lg-offset-8{margin-left:66.66667%}

.col-lg-10,.row.cols-lg-10>*{max-width:83.33333%;flex-basis:83.33333%}

.col-lg-offset-9{margin-left:75%}

.col-lg-11,.row.cols-lg-11>*{max-width:91.66667%;flex-basis:91.66667%}

.col-lg-offset-10{margin-left:83.33333%}

.col-lg-12,.row.cols-lg-12>*{max-width:100%;flex-basis:100%}

.col-lg-offset-11{margin-left:91.66667%}

.col-lg-normal{order:initial}

.col-lg-first{order:-999}

.col-lg-last{order:999}}

/* update box, w00t! */
.thatFunkyBorder{background: #070614;
height: auto;
padding: 1px;
width: 100%;}
.sharting{border:1px solid #29263f;overflow-y: scroll;overflow-x: hidden;background-image: url(../img/iota.png);background-repeat: no-repeat;}
.heybaby{padding: 15px;background-color: #ffffff;width:100%;}
    
    @media (min-width: 1100px){
        .sharting{height:385px;background-size: contain;}
        .heybaby{width:100%;margin-left: 280px;background-color: #ffffff;}
    }
    
@media (max-width: 1099px){
        .sharting{height:237px;background-size: cover;padding:0;}

.heybaby h3{margin-bottom:0px;}
.heybaby p{margin-bottom:20px;}

/* project box */

/* Mastodon embed feed timeline v3.13.1 */
/* More info at: */
/* https://gitlab.com/idotj/mastodon-embed-feed-timeline */

/* Variables */
:root {
  --text-max-lines: none;
}

/* Theme colors */
:root,
html[data-theme="light"] {
  --bg-color: #fff;
  --bg-hover-color: #d9e1e8;
  --line-gray-color: #c0cdd9;
  --contrast-gray-color: #606984;
  --content-text: #000;
  --link-color: #3a3bff;
  --error-text-color: #8b0000;
}
html[data-theme="dark"] {
  --bg-color: #282c37;
  --bg-hover-color: #313543;
  --line-gray-color: #393f4f;
  --contrast-gray-color: #606984;
  --content-text: #fff;
  --link-color: #8c8dff;
  --error-text-color: #fe6c6c;
}

/* Main container */
.mt-container {
  height: 100%;
  overflow-y: auto;
  position: relative;
  background-color: var(--bg-color);
  scrollbar-color: var(--line-gray-color) var(--bg-color);
  scrollbar-width: thin;
}
.mt-container::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
.mt-container::-webkit-scrollbar-thumb {
  background-color: var(--line-gray-color);
  border: none;
  border-radius: 3rem;
}
.mt-container::-webkit-scrollbar-thumb:hover,
.mt-container::-webkit-scrollbar-thumb:active {
  background-color: var(--line-gray-color);
}
.mt-container::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  border: none;
  border-radius: 0;
}
.mt-container::-webkit-scrollbar-track:hover,
.mt-container::-webkit-scrollbar-track:active,
.mt-container::-webkit-scrollbar-corner {
  background-color: var(--bg-color);
}
.mt-container a:link,
.mt-container a:active,
.mt-container a {
  text-decoration: none;
  color: var(--link-color);
}
.mt-container a:not(.mt-toot-preview):hover {
  text-decoration: underline;
}
.mt-body {
  padding: 1rem clamp(0.25rem, 4vw, 1.5rem);
  white-space: pre-wrap;
  word-wrap: break-word;
}
.mt-body .invisible {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
}

/* Toot container */
.mt-toot {
  margin: 0.25rem;
  padding: 1rem 0.5rem;
  position: relative;
  min-height: 3.75rem;
  background-color: transparent;
  border-bottom: 1px solid var(--line-gray-color);
}
.mt-toot:hover,
.mt-toot:focus {
  cursor: pointer;
  background-color: var(--bg-hover-color);
}
.mt-toot p:last-child {
  margin-bottom: 0;
}

/* User avatar */
.mt-toot-avatar {
  margin-right: 0.75rem;
}
.mt-toot-avatar-standard {
  width: 2.25rem;
  height: 2.25rem;
}
.mt-toot-avatar-boosted {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.mt-toot-avatar-image-big img {
  aspect-ratio: 1/1;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
.mt-toot-avatar-image-small img {
  aspect-ratio: 1/1;
  width: 1.5rem;
  height: 1.5rem;
  top: 1.5rem;
  left: 1.5rem;
  position: absolute;
  border-radius: 0.25rem;
  overflow: hidden;
}

/* User name and date */
.mt-toot-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.mt-toot-header-user {
  font-weight: 600;
  margin-top: 0.5rem;
  padding-right: 1rem;
}
.mt-toot-header-user > a {
  display: flex;
  align-items: flex-start;
  color: var(--content-text) !important;
  overflow-wrap: anywhere;
}
.mt-toot-header-date {
  font-size: 0.75rem;
  text-align: right;
  margin: 0.5rem 0 0 auto;
}
.mt-toot-header-date > a {
  color: var(--contrast-gray-color) !important;
}

/* Text */
.mt-toot-text {
  margin-bottom: 1rem;
  color: var(--content-text);
}
.mt-toot-text .spoiler-btn {
  display: inline-block;
}
.mt-toot-text .spoiler-text-hidden {
  display: none;
}
.mt-toot-text.truncate {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: var(--text-max-lines);
  -webkit-box-orient: vertical;
}
.mt-toot-text:not(.truncate) .ellipsis::after {
  content: "...";
}
.mt-toot-text blockquote {
  border-left: 0.25rem solid var(--line-gray-color);
  margin-left: 0;
  padding-left: 0.5rem;
}
.mt-toot-header-user .custom-emoji,
.mt-toot-text .custom-emoji {
  height: 1.5rem;
  min-width: 1.5rem;
  margin-bottom: -0.25rem;
  width: auto;
}

/* Poll */
.mt-toot-poll {
  margin-bottom: 1rem;
  color: var(--content-text);
}
.mt-toot-poll ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mt-toot-poll ul li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.mt-toot-poll.mt-toot-poll-expired ul li {
  color: var(--contrast-gray-color);
}
.mt-toot-poll ul li:not(:last-child) {
  margin-bottom: 0.25rem;
}
.mt-toot-poll ul li:before {
  content: "◯";
  padding-right: 0.5rem;
}
.mt-toot-poll.mt-toot-poll-expired ul li:before {
  content: "";
  padding-right: 0;
}

/* Medias */
.mt-toot-media {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.mt-toot-media > .spoiler-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.mt-toot-media-spoiler > img,
.mt-toot-media-spoiler > audio,
.mt-toot-media-spoiler > video,
.mt-toot-media-spoiler > .mt-toot-media-play-icon {
  filter: blur(2rem);
  pointer-events: none;
}
.mt-toot-media.img-ratio14_7,
.mt-toot-media.video-ratio14_7 {
  padding-top: 56.95%;
  width: 100%;
}
.mt-toot-media > audio {
  width: 100%;
  position: relative;
  z-index: 1;
}
.img-ratio14_7 > img,
.video-ratio14_7 > img,
.video-ratio14_7 > video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--content-text);
}
.mt-toot-media.loading-spinner .mt-toot-media-play-icon {
  display: none;
}
.mt-toot-media-play-icon {
  display: flex;
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mt-toot-media-play-icon > svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--bg-color);
  stroke:var(--content-text);
  stroke-width: 1px;
}

/* Preview link */
.mt-toot-preview {
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--line-gray-color);
  border-radius: 0.5rem;
  color: var(--link-color);
  font-size: 0.8rem;
  margin: 1rem 0;
  overflow: hidden;
}
.mt-toot-preview-image {
  width: 40%;
  align-self: stretch;
}
.mt-toot-preview-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: var(--content-text);
}
.mt-toot-preview-noImage {
  width: 40%;
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
}
.mt-toot-preview-content {
  width: 60%;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}
.mt-toot-preview-title {
  font-weight: 600;
}

/* Spoiler button */
.spoiler-btn {
  border-radius: 2px;
  background-color: var(--line-gray-color);
  border: 0;
  color: var(--content-text);
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0 0.35rem;
  text-transform: uppercase;
  line-height: 1.25rem;
  cursor: pointer;
  vertical-align: top;
}

/* Counter bar */
.mt-toot-counter-bar {
  display: flex;
  min-width: 6rem;
  max-width: 40rem;
  justify-content: space-between;
  color: var(--contrast-gray-color);
}
.mt-toot-counter-bar-replies,
.mt-toot-counter-bar-reblog,
.mt-toot-counter-bar-favorites {
  display: flex;
  font-size: 0.75rem;
  gap: 0.25rem;
  align-items: center;
  opacity: 0.5;
}
.mt-toot-counter-bar-replies > svg,
.mt-toot-counter-bar-reblog > svg,
.mt-toot-counter-bar-favorites > svg {
  width: 1rem;
  fill: var(--contrast-gray-color);
}

/* Error */
.mt-error {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: calc(100% - 3.5rem);
  width: calc(100% - 4.5rem);
  justify-content: center;
  align-items: center;
  color: var(--error-text-color);
  padding: 0.75rem;
  text-align: center;
}
.mt-error-icon {
  font-size: 2rem;
}
.mt-error-message {
  padding: 1rem 0;
}
.mt-error-message hr {
  color: var(--line-gray-color);
}

/* Loading spinner */
.mt-body > .loading-spinner {
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin: auto;
  top: calc(50% - 1.5rem);
  right: calc(50% - 1.5rem);
}
.loading-spinner {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cg%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 64 64' to='360 64 64' dur='1000ms' repeatCount='indefinite'/%3E%3Cpath d='M64 6.69a57.3 57.3 0 1 1 0 114.61A57.3 57.3 0 0 1 6.69 64' fill='none' stroke='%23404040' stroke-width='12'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: min(2.5rem, calc(100% - 0.5rem));
}

/* Footer (See more link) */
.mt-footer {
  margin: 1rem auto 2rem auto;
  padding: 0 2rem;
  text-align: center;
}

/* Hidden elements */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


/* Extra Codepen/container styles */
html {
  height: 100%
}

body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: lightslategray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

.dummy-wrapper {
  width: calc(100% - 1rem);
  max-width: 26rem;
  height: calc(100% - 3rem);
}