:root {
    --bg-color: #202020;
    --text-color: #FFFFFF;
    --link-color: #CCCCCC;
    --visited-color: #CCCCCC;
    --socials: #295548;
    --text-shadow: #000000;
    --nav-bg: #294155;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color)
}

a {
    color: var(--link-color)
}

a:visited {
    color: var(--visited-color)
}

.content-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

.content-wrapper h1 {
    text-align: center;
}

.content-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.content-wrapper p {
    text-indent: 20px;
}

.nav {
    flex: 0 0 200px;
    background-color: var(--nav-bg);
    border-radius: 10px;
    padding: 1px;
    font-size: 1.2em;
    text-align: center;
}

.nav p {
    text-indent: 0;
    text-shadow: 1px 1px 2px var(--text-shadow);
}

.main-content {
    flex: 1;
    max-width: 800px;
    min-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.socials {
    text-align: center;
    padding: 15px;
    background-color: var(--socials);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px var(--text-shadow);
}