<p><em>... droplets of brain juice from days and years past:</em></p>

{% assign tag_categories = site.tag_categories %}
{% assign categorized_tags = "" %}

{% for category in tag_categories %}
  <h2>{{ category[0] | capitalize }}</h2>
  <p class="cloud">
    {% capture temptags %}
      {% for tag in category[1] %}
        {% if site.tags[tag] %}
          {% assign tag_url = "/tag/" | append: tag %}
          {% if site.pages | map: "url" | contains: tag_url %}
            {{ site.tags[tag].size | plus: 1000 }}#{{ tag }}#{{ site.tags[tag].size }}
            {% assign categorized_tags = categorized_tags | append: tag | append: "," %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endcapture %}
    {% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
    {% for temptag in sortedtemptags %}
      {% assign tagitems = temptag | split: '#' %}
      {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
      <a href="/tag/{{ tagname }}"><code class="highligher"><nobr>{{ tagname }}</nobr></code></a>
    {% endfor %}
  </p>
{% endfor %}

<h2>Uncategorized</h2>
<p class="cloud">
  {% capture uncategorized_tags %}
    {% for tag in site.tags %}
      {% unless categorized_tags contains tag[0] %}
        {% assign tag_url = "/tag/" | append: tag[0] %}
        {% if site.pages | map: "url" | contains: tag_url %}
          {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
        {% endif %}
      {% endunless %}
    {% endfor %}
  {% endcapture %}
  {% assign sorted_uncategorized_tags = uncategorized_tags | split:' ' | sort | reverse %}
  {% for temptag in sorted_uncategorized_tags %}
    {% assign tagitems = temptag | split: '#' %}
    {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
    <a href="/tag/{{ tagname }}"><code class="highligher"><nobr>{{ tagname }}</nobr></code></a>
  {% endfor %}
</p>