
<footer>

  <table>

    <tr>
      <td>
      
        soma.fm:
        <div id="song">
          <center>
          <a id="player-text" href="https://somafm.com/deepspaceone/index.html" target="_blank"></a>
          </center>
          </div>
          <br />
          <div id="player">
          <center>
          <a id="player-stop" href="javascript:void(0)"><i class="ph ph-stop"></i></a>
          <a id="player-play" href="javascript:void(0)"><i class="ph ph-play"></i></a>
          <br />
          <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="0.5">
          <audio id="internet-radio" src="https://ice2.somafm.com/deepspaceone-128-mp3"></audio>
          <script src='/assets/js/stream.js'></script>
          <script src='/assets/js/radio.js'></script>
        </center>
        </div>
      
  <br />

      <!-- Mastodon Feed Start-->
      <div id="mastodon"></div>

      <script src="/assets/js/mastodon.js"></script>
    <!-- Mastodon Feed End-->

    <br />

    <p align="center">
      <img src="/img/3.gif" />
    </p>


          <br />

    webrings:
    <div class="center">
    <p align="center">
      <a href="https://xn--sr8hvo.ws/previous">←</a>
      🕸 <a href="https://xn--sr8hvo.ws">IndieWeb</a> 💍
<a href="https://xn--sr8hvo.ws/next">→</a>
</p>

<p align="center">
<a href='https://webring.dinhe.net/prev/https://nova-prime.net/'>← </a>
:: <a href="https://webring.dinhe.net/" target="_blank">Retronaut</a> ::
<a href='https://webring.dinhe.net/next/https://nova-prime.net/'> → </a>

</p>

<p align="center">
  <a href="https://fediring.net/previous?host=nova.mkultra.monster">←</a>
  <a href="https://fediring.net/">Fediring</a>
  <a href="https://fediring.net/next?host=nova.mkultra.monster">→</a>
</p>

<div style="width: fit-content; border: 2px outset; text-align:center" class="furry">
<p style="margin: 0; padding: 0.1em; border: 2px inset">This site is a member of Fur Ring.</p>
<div style="display: flex">
    <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/furring/previous?via=https://nova.mkultra.monster">Previous Site</a>
    <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/furring/random?via=https://nova.mkultra.monster">Random Site</a>
    <a style="flex: 1; margin: 0; padding: 0.1em; border: 2px inset" href="https://webri.ng/webring/furring/next?via=https://nova.mkultra.monster">Next Site</a>
</div>
</div>
<br />

<div id='linuxring'>
<script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-variables.js"></script>
<script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-widget.js"></script>
</div>
<br />

<p align="center">
<object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#8ff0a4" type="image/svg+xml" style="width: 100px; height: 100px;"></object>
</p> 
</div>
<div id="calendar">
  <script src="/assets/js/calendar.js"></script>
</div>
<br />
<img src="/img/haxpunks_logo.png">
<div id="random-image-container"></div>
<script src="/assets/js/randomImage.js"></script>
</div>
<br />
<div id="mastodon-trending"></div>
<script src="/assets/js/mastodon-trending.js"></script>
<br />
<!-- Second Life Online Users Start -->
<div id="second-life-online"></div>
<script src="/assets/js/second-life.js"></script>
<!-- Second Life Online Users End -->


<!-- RSS Feed Start 
<div id="rss-feed"></div>
<script src="/assets/js/rss-feed.js"></script>
-->

    </div>

    <br />


<br />
</div>
  </td>
</tr>
</table>

</footer>