
<footer>

  <table>

    <tr>
      <td>
      <!-- Mastodon Feed Start-->
      <div id="mastodon"></div>

      <script src="/assets/js/mastodon.js"></script>
    <!-- Mastodon Feed End-->

    <br />

    <p align="center">
      <img id="trigger-image" src="/img/3.gif" style="cursor: pointer;" />
    </p>

    <!-- Modal Structure -->
    <div id="image-modal" class="modal">
      <img class="modal-content" id="modal-image">
    </div>

      <script src="/assets/js/modal2.js"></script>

<br />
<div id="mastodon-trending"></div>
<script src="/assets/js/mastodon-trending.js"></script>
<br />
<!-- Second Life Online Users Start -->
<div id="second-life-online"></div>
<script src="/assets/js/second-life.js"></script>
<!-- Second Life Online Users End -->

<br />

<!-- Webring Section -->

<div class="center">
<p align="center">
  <a href="https://xn--sr8hvo.ws/previous">←</a>
  🕸 <a href="https://xn--sr8hvo.ws">IndieWeb</a> 💍
<a href="https://xn--sr8hvo.ws/next">→</a>
</p>

<p align="center">
<a href='https://webring.dinhe.net/prev/https://nova-prime.net/'>← </a>
:: <a href="https://webring.dinhe.net/" target="_blank">Retronaut</a> ::
<a href='https://webring.dinhe.net/next/https://nova-prime.net/'> → </a>

</p>

<p align="center">
<a href="https://fediring.net/previous?host=nova.mkultra.monster">←</a>
<a href="https://fediring.net/">Fediring</a>
<a href="https://fediring.net/next?host=nova.mkultra.monster">→</a>
</p>

<div id='linuxring'>
<script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-variables.js"></script>
<script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-widget.js"></script>
</div>
<br />

</div>

<!-- End webring Section -->

    </div>

    <br />


<br />
</div>
  </td>
</tr>
</table>

</footer>