
<footer>

  <table>

    <tr>
      <td>

      <form id="search-form" action="/search.html" method="get">
        <input type="text" id="search-input" name="query" placeholder="Search, choomba...">
      </form>  
    <!-- Mastodon Feed Start
        <a href="https://mkultra.monster" target="_blank"><img src="/img/mkmo.png"></a>
  
      <div id="mastodon"></div>

      <script src="/assets/js/mastodon.js"></script>
      Mastodon Feed End-->

      <!-- AP Feed 
      <p class="laby">LABYRINTH.ZONE</p>
      <div id="akkoma-feed" class="akkoma-feed-container"></div>
      <script src="/assets/js/akkoma.js"></script>
    -->
    <br />
    
    <p align="center">
      <img id="trigger-image" src="/img/3.gif" style="cursor: pointer;" />
    </p>

    <!-- Modal Structure -->
    <div id="image-modal" class="modal">
      <img class="modal-content" id="modal-image">
    </div>

      <script src="/assets/js/modal2.js"></script>

<br />

<div id="phpbb-sidebar" class="sidebar terminal-style">
  <h3>MKULTRA Board</h3>
  <ul id="phpbb-posts">
    <li>Loading...</li>
  </ul>
</div>
<script src="/assets/js/phpbb-sidebar.js"></script>

<!-- Listenbrainz 
<img src="/img/listen-brainz.svg" class="brainz">
<div id="listenbrainz-feed" class="listenbrainz-section">
  <p>Loading...</p>
</div>
<script src="/assets/js/listenbrainz.js"></script>
-->
<!-- Mastodon Trending   
<div id="mastodon-trending"></div>
<script src="/assets/js/mastodon-trending.js"></script>
<br />
-->

<!-- Second Life Online Users Start
<div id="second-life-online"></div>
<script src="/assets/js/second-life.js"></script>
 Second Life Online Users End -->

<br />

<br />
<!--
<img src="/img/fox_nova_icon.png">
  -->
<!-- Webring Section -->

<div class="fur-wrapper">
  <p>This site is a member of Fur Ring.</p>
  <div class="fur-innie">
      <a href="https://webri.ng/webring/furring/previous?via=https%3A%2F%2Fmkultra.monster">Previous Site</a>
      <a href="https://webri.ng/webring/furring/random?via=https%3A%2F%2Fmkultra.monster">Random Site</a>
      <a href="https://webri.ng/webring/furring/next?via=https%3A%2F%2Fmkultra.monster">Next Site</a>
  </div>
</div>
<br />
<div class="center">
<p align="center">
  <a href="https://xn--sr8hvo.ws/previous">←</a>
  🕸 <a href="https://xn--sr8hvo.ws">IndieWeb</a> 💍
<a href="https://xn--sr8hvo.ws/next">→</a>
</p>

<p align="center">
<a href='https://webring.dinhe.net/prev/https://mkultra.monster/'>← </a>
:: <a href="https://webring.dinhe.net/" target="_blank">Retronaut</a> ::
<a href='https://webring.dinhe.net/next/https://mkultra.monster/'> → </a>

</p>

<p align="center">
<a href="https://fediring.net/previous?host=mkultra.monster">←</a>
<a href="https://fediring.net/">Fediring</a>
<a href="https://fediring.net/next?host=mkultra.monster">→</a>
</p>

<div id='linuxring'>
<script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-variables.js"></script>
<script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-widget.js"></script>
</div>
<br />

<div id="nuthead-ring">
  <script src="https://nuthead.neocities.org/ring/ring.js"></script> 
</div>

</div>

<!-- End webring Section -->


<a href="https://marketplace.secondlife.com/en-US/stores/165186" target="_blank"><img src="/img/the_v.png"></a>


<!-- Link to Launch Doom -->
      <p align="center">
        <a href="/assets/doom/doom.html" target="_blank"><img src="/img/doom-guy.gif" height="100" width="100"></a>
      </p>

      <br />

    </div>

    <br />
<!-- Random Product Start
<div class="repo-title">Latest from [REVOSA]</div>
<div id="random-product" class="product-container"></div>
<script src="/assets/js/randomProduct.js"></script>
 Random Product End -->

<!--
<div class="anime">
  <img src="/img/gifs/chansawman.gif">
</div>
-->
</div>
  </td>
    <!--
    <img src="/img/2001/rei_sidebar(2024).png">
  -->

  </td>
</tr>

</table>

</footer>