<header class="site-header" role="banner">
<!-- vanishing sidebar -->
<table>
  <tr>
    <td>
<div class="nav-wrapper">
  <div id="mySidenav" class="sidenav">
  
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="ph ph-x"></i></a>
  <center>
    <img src="/img/gifs/skull.gif" width="100" height="100"><br>
  </center>
  
  <div class="trigger">
    <b></b>
  </div>
  
  <br />
  
  <div class="trigger">
    <font color="#FFFFFF">
      <p>░ Main</p>
    </font>
      <a class="page-link" href="/">&#8711; H O M E &#8711; <i class="ph ph-house"></i></a>
      <a class="page-link" href="/pages/about/">About <i class="ph ph-user"></i></a>
      <a class="page-link" href="/pages/debian/">Install Debian <i class="ph ph-linux-logo"></i></i></a>
      <a class="page-link" href="/pages/activitypub/">Join ActivityPub <i class="ph ph-network-x"></i></a>
      <a class="page-link" href="/pages/fedi-starter/">Fedi Starter Pack <i class="ph ph-play"></i></i></a>
      <a class="page-link" href="/pages/why/">Why <i class="ph ph-question"></i></a>
      <a class="page-link" href="/pages/disco/">Discography <i class="ph ph-disc"></i></a>
      <a class="page-link" href="/pages/next/">Next <i class="ph ph-arrow-circle-right"></i></a>
      <a class="page-link" href="/pages/blogroll/">Blogroll <i class="ph ph-door-open"></i></a>
      <a class="page-link" href="/pages/podroll/">Podroll <i class="ph ph-broadcast"></i></a>
      <a class="page-link" href="/pages/books/">Books <i class="ph ph-book"></i></a>
      <a class="page-link" href="/pages/second-life/">Second Life <i class="ph ph-cube-focus"></i></a>
      <a class="page-link" href="/pages/howtosl/">HowtoSL <i class="ph ph-tag-chevron"></i></a>
      <a class="page-link" href="/pages/scrap/">Scrap <i class="ph ph-film-strip"></i></a>
      <a class="page-link" href="/pages/dnd/">DnD <i class="ph ph-sword"></i></a>
      <a class="page-link" href="/pages/haxpunks/">haxPunks <i class="ph ph-images-square"></i></a>
      <a class="page-link" href="/pages/archives/">Archives <i class="ph ph-archive"></i></a>
      <a class="page-link" href="/pages/log/">Log <i class="ph ph-dev-to-logo"></i></a>
      <br />
    </div>
  
  <div class="trigger">
    <font color="#FFFFFF">
      <p>░ Me</p>
    </font>
      <a class="page-link" href="/portfolio/">Portfolio <i class="ph ph-briefcase"></i></a>
      <a class="page-link" href="https://mkultra.monster/@cmdr_nova" target="_blank">Mastodon <i class="ph ph-mastodon-logo"></i></a>
      <a class="page-link" href="https://bsky.app/profile/cmdr-nova.bsky.social" target="_blank">Bluesky <i class="ph ph-butterfly"></i></a>
      <a class="page-link" href="https://pixelfed.social/i/web/profile/589916902467976131" target="_blank">Pixelfed <i class="ph ph-aperture"></i></a>
      <a class="page-link" href="https://www.threads.net/@cmdr_nova" target="_blank">Threads <i class="ph ph-threads-logo"></i></a>
      <a class="page-link" href="https://www.instagram.com/cmdr_nova/" target="_blank">Instagram <i class="ph ph-instagram-logo"></i></a>
      <a class="page-link" href="https://github.com/cmdr-nova" target="_blank">Github <i class="ph ph-github-logo"></i></a>
      <a class="page-link" href="https://www.tiktok.com/@cmdr_nova" target="_blank">Tiktok <i class="ph ph-tiktok-logo"></i></a>
      <a class="page-link" href="https://discord.gg/2yfrCBDjnK" target="_blank">Discord <i class="ph ph-discord-logo"></i></a>
      <a class="page-link" href="https://matrix.to/#/@cmdr_nova:matrix.org" target="_blank">Matrix <i class="ph ph-matrix-logo"></i></a>
      <a class="page-link" href="https://liberapay.com/cmdr-nova" target="_blank">Liberapay <i class="ph ph-money-wavy"></i></a>
      <a class="page-link" href="https://www.youtube.com/channel/UCmEkfR480A4kdNJyuP5ny4Q" target="_blank">Youtube <i class="ph ph-youtube-logo"></i></a>
      <a class="page-link" href="https://www.linkedin.com/in/fortney-ryan" target="_blank">LinkedIn <i class="ph ph-linkedin-logo"></i></a>
      <a class="page-link" href="https://www.twitch.tv/cmdr__nova" target="_blank">Twitch <i class="ph ph-twitch-logo"></i></a>
      <a class="page-link" href="https://my.secondlife.com/nova.ayashi" target="_blank">Second Life <i class="ph ph-codepen-logo"></i></a>
      <a class="page-link" href="https://www.primfeed.com/nova.ayashi" target="_blank">Primfeed <i class="ph ph-box-arrow-down"></i></a>
      <br />
    </div>
    
  </div>
  <span style="text-decoration: none; font-size:21px;cursor:pointer;color:#c8ff00;" onclick="openNav()"><center><i class="ph ph-list"></i>N A V</center></span>
  </div>
  </td>
  </tr>
  </table>
  <!-- vanishing sidebar -->

<!-- Sidebar Section-->
<div id="sidebar">
  <table>

    <tr>
      <td>
        
        <div align="center">
          <p id="date">
          <script>n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("date").innerHTML = m + "/" + d + "/" + y;</script>
            </p>
            
            <p>
        <span id="swatchClock">@000</span>
        <script defer src="https://melonking.net/scripts/swatchTime.js"></script>
        </p>

      <div class="nova-avie">
        <p>
          <img src="/img/avatar/nova_2025_3.png" width="90%" height="90%">
        </p>
      </div>
      <!--
      <button class="post-buttons" onclick="window.open('https://liberapay.com/cmdr-nova/donate', '_blank')">Subscribe via Liberapay</button>
        <br />
    -->
<div id="todo">
  <br />
  Todo list:
  <ul>
    <li><s>contribute to wafrn code</s></li>
    <li>optimize the css on this site</li>
    <li>keep sending out the resume</li>
  </ul> 
</div>

<br />
<!--
    <center>
      <div class="c-box">
      <iframe src="https://www3.cbox.ws/box/?boxid=3540311&boxtag=zRBWri" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
      <img src="/img/home_button.png">
    </div>
      </center>
<br />
    -->
<hr>

<br />

<div class="garden-button">
<p>Get yourself a <a href="/linkgarden/for_you" target="_blank">LinkGarden</a></p>
</div> 

<hr class="solid">
<br />

<div class="reddit-bot">
  <div class="tumblr-title">Reddit-Bot (via Tumblr):</div>
  <div id="tumblr-feed-container"></div> <!-- Specific container for the Tumblr feed -->
  <script src="/assets/js/tumblr.js"></script>

  <div id="calendar">
    <script src="/assets/js/calendar.js"></script>
  </div>
  <br />
  <img src="/img/haxpunks_logo.png">
  <div id="random-image-container"></div>
  <script src="/assets/js/randomImage.js"></script>
  </div>

</div>
</td>
  </tr>
</table>
</div>
<!-- Side Bar Section End -->

  </header>