/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { 
  margin: 0; 
  padding: 0; 
}

/**
 * Clearfix
 */
 %clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  @extend %clearfix;
  margin-right: auto;
  margin-left: auto;

}

/* search field */

ul#results-container {
  padding: 0;
  list-style-type: none;
  position: absolute;
}

#results-container li {
  margin-bottom: 1.5rem;
}

span.post-meta {
  font-size: 1rem;
}

/* Frames */

.waifu { 
  color:#00fc69;
  background: #131313;
  display:inline-block;
  padding:2px 7px;
  margin-bottom:10px;
  font-weight: normal;
  background-image: url('./img/bg-tile.gif');
  background-position: center center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; 
}

/** Basic styling */

body { 
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff; 
  display: flex;
  flex-direction: column;
  background-color: #1C1C1C;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1; 
  -moz-font-feature-settings: "kern" 1; 
  -o-font-feature-settings: "kern" 1; 
  font-feature-settings: "kern" 1; 
  font-kerning: normal; 
  height: 100%;
  /* background-image: url("/img/bgstars2.gif");
  background-repeat: repeat;
  background-attachment: fixed; */
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { 
  margin-bottom: 15px; 
}

/** `main` element */

#main {
  background-color: #232425;
  border-radius: 20px;
  border-style: none; 
  margin-top: 2px;
  letter-spacing: 3px;
  word-spacing: 3px;
  min-width: 700px;
  max-width: 700px;
  margin-right: 50px; 
  margin-left: 300px; 
  padding-right: 10px; 
  padding-left: 30px;
}

@media only screen and (max-width: 480px) {
  #main {
  background-color: #232425;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  margin-left: 0;
  min-width: 390px;
  max-width: 428px;
  padding-right: 15px;
  padding-left: 15px; 
  margin-top: 2px;
  word-spacing: 1px;
  letter-spacing: 1px;
  }
  }

  @media only screen and (max-width: 480px) {
    #sidebar {
        display: none;
    }
  }
  
  @media only screen and (max-width: 480px) {
    #rightbar {
        display: none;
    }
  }

  @media only screen and (max-width: 480px) {
    .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #131313;
    z-index: 1000;
    }
    .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    }
    }

#sidebar {
  border-style: none;
  border-width: 3px;
  border-color: white;
  min-width: 260px;
  max-width: 260px;
  padding: 20px;
  position: left;
  letter-spacing: 2px;
  word-spacing: 3px;
  position: absolute;
  z-index: 2;
}


#rightbar {
  border-style: none;
  border-width: 3px;
  border-color: white;
  margin-left: 1050px;
  min-width: 260px;
  max-width: 260px;
  padding: 20px;
  letter-spacing: 2px;
  word-spacing: 3px;
  position: absolute;
  z-index: 0;
}

/** Images */
img { 
  max-width: 100%; 
  vertical-align: middle; 
}

/** Figures */
figure > img { 
  display: block; 
}

figcaption { 
  font-size: 14px; 
}

/** Lists */
ul, ol { 
  margin-left: 30px; 
}

li > ul, li > ol { 
  margin-bottom: 0; 
}

/** Headings */
h1, h2, h3, h4, h5, h6 { 
  font-weight: 300; 
}

/** Links */
a { 
  color: #c8ff00; 
  text-decoration: none; 
}

a:visited { 
  color: #c8ff00; 
}

a:hover { 
  color: #edf2b1; 
  text-decoration: highlight; 
}

.social-media-list a:hover { 
  text-decoration: none; 
}

.social-media-list a:hover .username { 
  text-decoration: underline; 
}

/** Blockquotes */
blockquote { 
  color: #c1d9d2; 
  border-left: 4px solid #e8e8e8; 
  padding-left: 15px; 
  font-size: 18px; 
  letter-spacing: -1px; 
  font-style: italic; 
}

blockquote > :last-child { 
  margin-bottom: 0; 
}

/** Code formatting */
pre, code { 
  font-size: 15px; 
  border: 1px solid #e8e8e8; 
  border-radius: 3px; 
  background-color: #eef; 
}

code { 
  padding: 1px 5px; 
}

pre { 
  padding: 8px 12px; 
  overflow-x: auto; 
}

pre > code { 
  border: 0; 
  padding-right: 0; 
  padding-left: 0; 
}

/** Icons */
.svg-icon { 
  width: 16px; 
  height: 16px; 
  display: inline-block; 
  fill: #828282; 
  padding-right: 5px; 
  vertical-align: text-top; 
}

.social-media-list li + li { 
  padding-top: 5px; 
}

.author {
  padding-top: 5px;
}

/** Page content */

.page-content { 
  padding: 30px 0; 
  flex: 1; 
}

.page-heading { 
  font-size: 32px;
 }

.post-list-heading { 
  font-size: 28px; 
}

.post-list { 
  margin-left: 0; 
  list-style: none; 
}

.post-list > li { 
  margin-bottom: 30px; 
}

.post-meta { 
  font-size: 14px; 
  color: #828282; 
}

.post-link { 
  display: block; 
  font-size: 24px; 
}

/** Posts */

.post-header { 
  margin-bottom: 30px; 
}

.post-title { 
  font-size: 36px; 
  letter-spacing: -1px; 
}

@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

.post-content { 
  margin-bottom: 30px; 
}

.post-content h2 { 
  font-size: 32px; 
}

@media screen and (max-width: 800px) { .post-content h2 { font-size: 28px; } }
.post-content h3 { font-size: 26px; }
@media screen and (max-width: 800px) { .post-content h3 { font-size: 22px; } }
.post-content h4 { font-size: 20px; }
@media screen and (max-width: 800px) { .post-content h4 { font-size: 18px; } }

.highligher {
    background-color: #1C1C1C;
}

/* Mastodon comments */

.page__comments-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: 6;
  border-top: 1px solid;
  text-transform: uppercase;
}

.page__comments-form {
  padding: 1em;
  background-color: #828282;
  transition: global-transition;
}

.comment {
  margin: 1em 0;
  font-size: 6;
}

.comment__avatar-wrapper {
  float: left;
  width: 60px;
  height: 60px;
}

.comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);
}

.comment__author {
  margin-top: 20px;
}

.comment__date {
  margin: 0;
}

/*rainbow colors*/

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.rainbow {
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

/* PH Icons */

.ph {
  size: 35.0;
  color: #8ff0a4;
  margin-left: 2px;
}

/* mastodon section */

#mastodon {
  height: 20rem;
  overflow-y: scroll;
  right: 0;
  border: 2px solid rgb(7, 239, 247);
  min-width: 260px;
  max-width: 260px;
}
  
  #mastodon article { 
    border: 1px solid white;
    padding: 0.5rem;
    word-wrap: break-word;
    overflow-x: hidden
  }

  /* Imported code */

  tr, td {
    padding: 1px;
}

  table.center {
    width:70; 
    margin-left:auto; 
    margin-right:auto;
  }


/* Left column */

.leftcolumn {   
  display: table;
  float: center;
  width: auto;
  margin: 0px auto;
  
}

/* vanishing side menu */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  padding-left: 10px;

}

.sidenav a {
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
}

#todo {
  border-style: dotted;
  border-color: #272727;
}

.home-tab-item-img{
  -webkit-filter: drop-shadow(5px 5px 5px #66ff00);
   filter: drop-shadow(5px 5px 5px #91ff02); 
}

#noAI {
  border-style: dashed;
  border-color: #00fc69;
}

/** Site footer **/


footer {
  position: relative !important;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-image: url('/img/bg/matrix.gif');
  background-repeat: repeat;
  border-top: 5px solid #000000;
  padding: 30px 0; 
  background-color: #1C1C1C;
  font-size: 0.8em;
  }

.footer-heading { 
  font-size: 18px; 
}

.contact-list, .social-media-list { 
  list-style: none; 

}

.footer-col { 
  bottom: 0;
  margin-bottom: 15px; 
  padding-left: 15px; 
  width: 100%;
}

.footer-col-1 { 
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
  background-color: #141414;
  outline-width: 2px; 
  outline-style: solid; 
  outline-color: #008080; 
  outline-offset: -10px;
  padding: 25px 25px 25px 25px;
 }

.footer-col-2 { 
  width: -webkit-calc(20% - (30px / 2)); 
  width: calc(20% - (30px / 2)); 
}

.footer-col-3 { 
  width: -webkit-calc(45% - (30px / 2)); 
  width: calc(45% - (30px / 2));
  text-align: center;
  width: 100%;
}

