body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { 
    margin: 0; 
    padding: 0; 
}

body { 
     font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     color: #fff; 
     background-color: #1C1C1C;
     min-height: 100vh;
     position: absolute;
     margin-right: 50px; 
     padding-right: 10px; 
     padding-left: 30px;
   }

   h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure { 
    margin-bottom: 15px; }

   .title {
    text-align: left;
    width: 100%;
   }

   .content {
    text-align: left;
    padding: 12px;
    max-width: 700px;
   }

   a { 
    color: #c8ff00; 
    text-decoration: none; 
}
   a:visited { 
    color: #c8ff00; 
}

   a:hover { 
    color: #edf2b1; 
}

ul {
  padding-left:1em;
}

/* a blinking cursor */

.blinking-cursor {
    color: #2E3D48;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: ultra-expanded;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffffff;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffffff;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffffff;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffffff;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #ffffff;
    }
  }

