---
layout: default
---

<!-- commander nova, ceo of the pixel
                         
_________     _____  ________ __________  
\_   ___ \   /     \ \______ \\______   \ 
/    \  \/  /  \ /  \ |    |  \|       _/ 
\     \____/    Y    \|    `   \    |   \ 
 \______  /\____|__  /_______  /____|_  / 
        \/         \/        \/       \/  
 _______   ____________   _________       
 \      \  \_____  \   \ /   /  _  \      
 /   |   \  /   |   \   Y   /  /_\  \     
/    |    \/    |    \     /    |    \    
\____|__  /\_______  /\___/\____|__  /    
        \/         \/              \/
                        
                                  
creator of everything -->

<p><em>... and here's where I keep all of my brain juice:</em></p>

{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      ░ Previous
    </a>
  {% else %}
    <span class="previous">░ Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next ░</a>
  {% else %}
    <span class="next ">Next ░</span>
  {% endif %}
</div>
<p align="right">
  <img src="/img/3.gif" />
</p>
<br />
<p>
Subscribe to <a href="https://www.nova-prime.net/feed.xml">RSS Feed</a>.
</p>

<p align="center">
  © 2024 CMDR Nova
</p>

<p align="center">
  <img src="/img/gifs/netscape.gif" height="50" width="50"> <img src="/img/gifs/geocities.gif">
</p>

<p align="center">
  <a class="page-link" href="/pages/disclaimer">License + Disclaimer</a>
  <br />
  <a class="page-link" href="/pages/privacy/">Privacy Policy</a></div>
  </p>

  <script data-goatcounter="https://nova.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

        <a href="https://github.com/cmdr-nova" rel="me"></a>
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
<p align="center">
        <a href="https://xn--sr8hvo.ws/previous">←</a>
An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
<a href="https://xn--sr8hvo.ws/next">→</a>
</p>

<p align="center">
<a href='https://webring.dinhe.net/prev/https://nova-prime.net/'>← Previous</a>
:: <a href="https://webring.dinhe.net/" target="_blank">Retronaut Webring</a> ::
<a href='https://webring.dinhe.net/next/https://nova-prime.net/'>Next → </a>
</p>

<p align="center">
  <img src="//count.digitalpoint.com/?c=00FFFF" alt="Free Hit Counter" style="border:0px;width:88px;height:19px;">
</p>

