---
layout: default
---

<!-- commander nova, ceo of the pixel
                         
_________     _____  ________ __________  
\_   ___ \   /     \ \______ \\______   \ 
/    \  \/  /  \ /  \ |    |  \|       _/ 
\     \____/    Y    \|    `   \    |   \ 
 \______  /\____|__  /_______  /____|_  / 
        \/         \/        \/       \/  
 _______   ____________   _________       
 \      \  \_____  \   \ /   /  _  \      
 /   |   \  /   |   \   Y   /  /_\  \     
/    |    \/    |    \     /    |    \    
\____|__  /\_______  /\___/\____|__  /    
        \/         \/              \/
                        
                                  
creator of everything -->

<!-- Main Body Start -->
<div id="main">

    <!-- Mobile Light Mode Toggle -->
      <div id="mobile-light-mode-toggle" class="mobile-only center">
        <p class="symbols">
          <i class="ph ph-moon"></i> / <i class="ph ph-sun"></i>
        </p>
        <label class="switch">
          <input type="checkbox" id="mobile-light-mode-checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      </p>

      <div class="head-section">
        <div class="profile-header"></div>
        <div class="rainbow"><img class="no-center pack-avatar" src="/img/avatar/daemon.jpeg" height="100" width="100"> cmdr-nova<img class="no-center" src="/img/gifs/at.gif">internet:~$: <b>Nova Prime</b> <span class="blinking-cursor">░</span></div>
        <br>
        
        {% assign total_posts = site.posts | size %}
        {% assign total_logs = site.logs | size %}
        {% assign total_notes = site.notes | size %}
        {% assign total_items = total_posts | plus: total_logs | plus: total_notes %}

        <p class="center"><b>Posts</b>: {{ total_items }} <b>Follows</b>: <span id="follows-count"></span> <b>Followers</b>: <span id="followers-count"></span></p>
        <script src="/assets/js/fake-follows.js"></script>
        <!--
        <div class="score">HIGH SCORE!</div>
      -->
        <p>░Artist behind #Eyeshadow2600FM // Author of upcoming space opera, DISSOLUTION PROTOCOL, Second Life creator at [REVOSA] & AyaSys
        <br /><br />
        ░I am a: Writer, composer, designer, linux-enjoyer & webdev</p>

        <p class="center">
          <button class="post-buttons" onclick="window.open('/rss_feed.xml')">RSS <i class="ph ph-rss"></i></button>

          <button class="post-buttons" onclick="window.open('https://eyeshadow2600fm.bandcamp.com', '_blank')">Bandcamp <i class="ph ph-headphones"></i></button>

          <button class="post-buttons" onclick="window.open('https://open.spotify.com/artist/355TNaPlosj1FwN7sfSvAe?si=HOSyKv1ISq-GvqiXKomeQA', '_blank')">Spotify <i class="ph ph-spotify-logo"></i></button>

          <button class="post-buttons" onclick="window.open('/linkgarden/', '_blank')">Linkgarden <i class="ph ph-link"></i></button>

          <button class="post-buttons" onclick="window.open('https://www.patreon.com/c/cmdr_nova', '_blank')">Patreon <i class="ph ph-patreon-logo"></i></button>

          </p>
        
        </div>

      <div class="desktop-only center">

      </div>
        
<p align="center"><img src="/img/gifs/rainbow.gif"></p>
<p><em>... and here's where I keep all of my brain juice:</em></p>

<!-- New Posts Section -->

<div class="posts-section">
  {% assign notes_array = site.notes %}
  {% assign logs_array = site.logs %}
  {% assign posts_array = site.posts %}
  {% assign combined_array = posts_array | concat: notes_array | concat: logs_array %}
  {% assign combined_array = combined_array | sort: "date" | reverse %}

  {% assign pinned_items = combined_array | where: "pinned", true %}
  {% assign unpinned_items = combined_array | where_exp: "item", "item.pinned != true" %}
  {% assign combined_array = pinned_items | concat: unpinned_items %}

  {% assign items_per_page = paginator.per_page %}
  {% assign current_page = paginator.page %}
  {% assign total_items = combined_array.size %}
  {% assign total_pages = total_items | divided_by: items_per_page | ceil %}
  {% assign start_index = items_per_page | times: current_page | minus: items_per_page %}
  {% assign end_index = items_per_page | times: current_page %}
  {% assign paginated_array = combined_array | slice: start_index, items_per_page %}

  {% for item in paginated_array %}
    {% assign post_type = item.collection %}
    {% if post_type == "notes" %}
      {% assign icon = "ph ph-note" %}
      {% assign verb = "Noted" %}
      {% assign content = item.content %}
    {% elsif post_type == "logs" %}
      {% assign icon = "ph ph-notebook" %}
      {% assign verb = "Logged" %}
      {% assign content = item.content %}
    {% elsif post_type == "posts" %}
      {% assign icon = "ph ph-article" %}
      {% assign verb = "Posted" %}
      {% assign content = item.content | strip_newlines | truncatewords: 50 %}
    {% else %}
      {% assign icon = "ph ph-chat-text" %}
      {% assign verb = "Shared" %}
    {% endif %}

    <div class="item">
      <div>
        {% if item.pinned %}
          <div class="pin-icon" style="text-align: right; padding: 5px; font-size: 1.5em;">
            <i class="ph ph-push-pin"></i>
          </div>
        {% endif %}
        <span class="verb"><i class="{{ icon }}"></i> {{ verb }}:</span>
        <br /><br />
        {% if item.avatar %}
          <img src="{{ item.avatar }}" alt="Avatar" class="no-center toot-avatar pack-avatar">
        {% endif %}
        {% if item.author %}
          {{ item.author }}
        {% endif %}
        <br /><br />
        {% if post_type == "posts" %}
          <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
        {% endif %}
        <div>{{ content }}</div>
        <span class="date"><i>published</i> {{ item.date | date: '%B %e, %Y' }}</span>
        <div class="syndicate">
          <i class="ph ph-broadcast" title="Syndication"></i>
          {% if item.akkoma %}
            <span style="padding:0px 5px 0px 5px;">
              <a href="{{ item.akkoma }}" target="_blank">Akkoma</a>
            </span>
          {% endif %}
          {% if item.bluesky %}
            <span style="padding:0px 5px 0px 5px;">
              <a href="{{ item.bluesky }}" target="_blank">Bluesky</a>
            </span>
          {% endif %}
          {% if item.wafrn %}
            <span style="padding:0px 5px 0px 5px;">
              <a href="{{ item.wafrn }}" target="_blank">Wafrn</a>
            </span>
          {% endif %}
          {% if item.mastodon %}
            <span style="padding:0px 5px 0px 5px;">
              <a href="{{ item.mastodon }}" target="_blank">Mastodon</a>
            </span>
          {% endif %}
          {% if item.pillowfort %}
          <span style="padding:0px 5px 0px 5px;">
            <a href="{{ item.pillowfort }}" target="_blank">Pillowfort</a>
          </span>
        {% endif %}
          {% if item.none %}
            <span style="padding:0px 5px 0px 5px;">
              {{ item.none }}
            </span>
          {% endif %}
        </div>
        {% if item.tags %}
          <div class="tags">
            {% for tag in item.tags %}
              <span>#{{tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
        {% if post_type == "notes" or post_type == "logs" or post_type == "posts" %}
        <div style="text-align: right;">
          <a href="{{ item.url }}" class="small-link">view</a> | 
          <a href="javascript:void(0);" class="small-link" onclick="copyToClipboard('{{ item.url }}')">share</a>
        </div>
        <script src="/assets/js/clipboard.js"></script>
      {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
  
  <!-- Pagination links -->
  <div class="pagination">
    <a href="{{ paginator.previous_page_path }}" class="previous {% if paginator.page == 1 %}disabled{% endif %}">
      ░ Previous
    </a>
    <span class="page_number">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next ░</a>
    {% else %}
      <span class="next">Next ░</span>
    {% endif %}
  </div>

  <br />

  <!-- Guestbook is disabled for now
  <p align="center">
    <a href="/pages/guestbook" class="guestbook-button">Sign My Guestbook</a>
  </p>
  -->

  <p align="center">
    © <script>document.write(new Date().getFullYear())</script> CMDR Nova
  </p>

  <p align="center">
    <a href="https://web.archive.org/web/19970613204222/http://home.netscape.com/comprod/mirror/client_download.html" target="_blank"><img class="no-center" src="/img/gifs/netscape.gif" height="50" width="50"></a> <a href="https://web.archive.org/web/19961226182558/http://www3.geocities.com/" target="_blank"><img class="no-center" src="/img/gifs/geocities.gif"></a> <img class="no-center" src="/img/gifs/Y2K.png">  <a href="https://melonland.net" target="_blank"><img class="no-center" src="/img/melonland-badge.png"></a>
  </p>

  <p><a href="https://labyrinth.zone" target="_blank"><img src="/img/lzbadge.gif"></a></p>


  <p align="center">
    <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#8ff0a4" type="image/svg+xml" style="width: 100px; height: 100px;"></object>
    </p> 

  <p align="center">
    <img class="no-center" src="/img/buttons/button.png"> <a href="https://humantooth.neocities.org" target="_blank"><img class="no-center" src="/img/sitebuttons/tooth4.png"></a> <img class="no-center" src="/img/sitebuttons/nova.png"> <a href="https://neocities.org/site/boot-cmd" target="_blank"><img class="no-center" src="/img/gifs/neocities_button.gif"></a>
  </p>
  <p>
    <a href="https://web.archive.org/web/20010401015509/http://animeboards.com:80/" target="_blank"><img src="/img/bbtitlebk.jpg"></a>
  </p>

  <p align="center">
    <a class="page-link" href="/pages/disclaimer">License + Disclaimer</a>
    <br />
    <a class="page-link" href="/pages/privacy/">Privacy Policy </a>
    <br />
    <a class="page-link" href="/classic">Old Version</a>
    </p>
  </div>
    <script data-goatcounter="https://nova.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>
  
          <a href="https://github.com/cmdr-nova" rel="me"></a>

          <link rel="authorization_endpoint" href="https://indieauth.com/auth">
          <a rel="me" href="https://labyrinth.zone/daemon_nova" target="_blank"></a>
          <a rel="me" href="https://mastodon.social/@mkultra_bot"></a>
          <a rel="me" href="https://infosec.exchange/@foxx_nova"></a>
          <!-- <a rel="me" href="https://mastodon.social/@net_run"></a> -->

</div>
<!-- Main Body End -->