---
layout: default
---
{% seo %}

<div id="main">
  <table>
<tr>
<td>
 <md-block>

<p class="author center-align">
  <i class="ph ph-pencil-line"></i> Author: <a href="https://mkultra.monster/@cmdr_nova" target="_blank">{{ page.author }}</a>
  <br />
  <i class="ph ph-calendar"></i> Published: {{ page.date | date_to_string }}
</p>
<br />

{{ content }}

<hr>
<br />
<span>tag: 
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
</span>