---
layout: default
---
{% seo %}

<div id="main">
  <table>
<tr>
<td>
 <md-block>

  <a class="read-title" href="/">{{ page.title }}</a> 

  <div class="author-info">
    <img class="no-center pack-avatar dynamic-avatar" src="/img/avatar/nova.webp" height="100" width="100">
    <div class="author-text">
      <p><i class="ph ph-pencil-line"></i> Author: <a class="author-link" href="https://sharkey.mkultra.monster/@cmdr_nova" target="_blank"><!--{{ page.author }}-->@cmdr_nova@sharkey.mkultra.monster</a></p>
      <p><i class="ph ph-calendar"></i> Published: {{ page.date | date_to_string }}</p>
      <button class="post-buttons" onclick="window.open('https://liberapay.com/cmdr-nova/donate', '_blank')">Subscribe via Liberapay</button>
      <button class="post-buttons" onclick="window.open('https://ko-fi.com/cmdr_nova', '_blank')">Buy me a Donut</button>
    </div>
  </div>

<br />

<div class="indent">
{{ content }}
</div>

<hr>
<br />
<span>tags: 
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
</span>
<br /><br />
<div class="center">

<button class="mastodon-share"></button> 
<button class="post-buttons" onclick="window.open('https://bsky.app/intent/compose?text=Check%20out%20this%20post%20by%20@cmdr-nova.bsky.social%21%20%F0%9F%A6%8B%0A{{ site.url }}{{ page.url }}', '_blank')">Share on Bluesky</button>
<button class="post-buttons" onclick="window.open('https://reddit.com/submit?url={{ site.url }}{{ page.url }}', '_blank')">Share on Reddit</button>

</div>
<!--
{%- if page.comments -%}
{%- include fediverse_comments.html -%}
{%- endif -%}
-->

<div id="post-comments-section">
  <h3>Comments</h3>
  <form id="post-comment-form">
    <input type="text" id="post-comment-author" placeholder="Your name" required>
    <input type="text" id="post-comment-fediverse" placeholder="Fedi username (@username@fediverse.instance)">
    <textarea id="post-comment-content" placeholder="Your comment" required></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
<div id="post-comments-list"></div>

<meta name="fediverse:creator" content="@cmdr_nova@mkultra.monster">

</md-block>
</span>
  </td>
  </tr>
  </table>
</div>