---
layout: default
---
{% seo %}

<div id="main">
  <table>
<tr>
<td>
 <md-block>

  <a class="read-title" href="/">{{ page.title }}</a> 


<p class="author center-align"><i class="ph ph-pencil-line"></i> Author: <a href="https://mkultra.monster/@cmdr_nova" target="_blank">{{ page.author }}</a>
  <br />
<i class="ph ph-calendar"></i> Published: {{ page.date |     date_to_string }}
<br /><br />
  <button class="post-buttons" onclick="window.open('https://liberapay.com/cmdr-nova/donate', '_blank')">Subscribe via Liberapay</button>
  <button class="post-buttons" onclick="window.open('https://github.com/sponsors/cmdr-nova', '_blank')">Sponsor on GitHub</button>
  <button class="post-buttons" onclick="window.open('https://mkultra.monster/@cmdr_nova', '_blank')">Follow on Mastodon</button>
  <!--
  <button class="post-buttons" onclick="window.open('https://bsky.app/profile/cmdr-nova.bsky.social', '_blank')">Follow on Bluesky</button>
-->
</p>
<br />

{{ content }}

<hr>
<br />
<span>tag: 
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher"><nobr>{{     tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
</span>


<button class="mastodon-share"></button>


{%- if page.comments -%}
{%- include fediverse_comments.html -%}
{%- endif -%}

<meta name="fediverse:creator" content="@cmdr_nova@mkultra.monster">

</md-block>
</span>
  </td>
  </tr>
  </table>
</div>