---
layout: default
---

<h1 class="post-title p-name" itemprop="name headline">{{ page.title }}</h1>
<p>░ <b>author</b>: <a href="https://mkultra.monster/@cmdr_nova" target="_blank">{{ page.author }}</a> //
<b>date</b>: {{ page.date }}</p>

{{ content }}

<a href="https://mastodonshare.com/share" style="padding: 0.2rem 0.6rem 0.3rem;background: #2b90d9;color: white;border-radius: 0.3rem;text-decoration: none;font-weight: bold;">Share on Mastodon</a>

<div>
<script src="https://utteranc.es/client.js"
        repo="cmdr-nova/cmdr-nova.github.io"
        issue-term="pathname"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
</div>
